.product-list-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
}


.product {
    width: 300px;
    margin: 2px;
    padding: 5px;
    height: auto;
    height: auto;
}